*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    font-family: 'Satoshi-Regular';
    line-height: 1.6;
}
/* h1, h2, h3 {
    font-family: 'Satoshi-Black';
    font-size:42px;
    margin-bottom: .5rem;
    font-weight:700;
    letter-spacing: -.63px;
} */
h4, h5, h6{
    font-family: 'Satoshi-Bold';
    font-size:25px;
}
span{
    font-family: 'Satoshi-Medium';
    font-size: 14px;
}
p{
    font-family: 'Satoshi-Medium';
    font-size: 18px;
    
}
small{
    font-family: 'Satoshi-Medium';
    font-size: 14px;
}
button, input, textarea{
    font-family: 'Satoshi-Medium';
    font-size: 18px;
}

a {
    text-decoration: none;
    font-family: 'Satoshi-Medium';
    font-size: 18px;
}
img {
    max-width: 100%;
    height: auto;
}

/* layout */
.container{
    max-width:1600px;
    margin:0 auto;
    width: 100%;
}
.row{
   display: flex;
   flex-direction: row;
}
.col{
    display: flex;
    flex-direction:column;
    width: 100%;
    padding: 20px;
    margin: 10px auto;
}

/* layout end */

.nav-wrapper{
    padding: 0px 30px;
    background: #fff;
    /* box-shadow: 0px 2px 4px rgba(0,0,0,0.8); */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
    z-index: 9998;
    width: 100%;
    transition: top 0.3s;
    
  
}
.fixed{
    position: fixed;
    top:0px; 
}
.nav-container{
    display: flex;
    padding: 10px 0px;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    height: 72px;
}
.left-section{
width: 20%;
display: flex;
flex-direction: row;
justify-content: space-between;
gap:10px;
align-items: center;
margin-left:30px;
z-index: 100;
}
.logo-img{
   max-width: 120px;
   height: auto;
}
.course-btn{
    border: 0 solid #fff !important;
    display: flex !important;
    justify-content: space-between !important;
   align-items: center !important;
   
    background-color: #2f80ed !important;
    color: #fff !important;
    width: fit-content;
    padding: 6px 10px;
    border-radius: 4px;
    position: relative;
}
.course-btn svg{
    margin-left:7px;
}
.new-badge{
    position: absolute;
    background-color: #eff8ff;
    color: #2f80ed;
    border-radius: 4px;
    padding: 1px 10px;
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -.02em;
    text-align: center;
    top:0;
    right: 0;
    transform: translate(50%, -50%);
}
.logo-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right:20px;
    width: 100%;
    gap: 10px;
}
.center-menu{
 width: 60%;
 display: flex;
 justify-content: flex-end;
 align-items: center;
}
.header-menus{
   padding-right: 20px;
}
.header-menus .header-links{
  list-style: none;
  display: flex;
}
.header-menus .header-links .menu-links{
    padding: 6px 10px;
   
}
.menu-links a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:6px;
}
.menu-links a span{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Satoshi-Medium';
}
.right-section{
 width:20%;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 overflow-x: hidden;
}
.login-btn{
    width: fit-content;
    padding:6px 20px;
    border: 2px solid blue;
    border-radius: 8px;
    background: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Satoshi-Medium';
}
.apply-btn{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Satoshi-Medium';
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(276.97deg, #992fed, #2f80ed);
    padding: 10px 20px ;
    border:none;
    border-radius: 6px;
    color: #fff;
    animation: btn-slide-right 2.5s cubic-bezier(.25,0.46,.45,.94) both;

}
@keyframes btn-slide-right {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(300px);
    }
}
.showBookBtn{
    animation: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s 1 normal both running btn-slide-left;
}
@keyframes btn-slide-left {
    0% {
        transform: translateX(300px);
    }
    
    100% {
        transform: translateX(0px);
    }
}
.apply-btn .icon{
    margin-left: 5px;
}
.mobile-menu-icon{
    display: none;
}
.inner-mobile-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.mobile-notify-btn{
    background: transparent;
    border: none;
    padding: 5px 9px;
    width: fit-content;
    position: relative;

}
.mobile-notify-btn a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-login-btn{
 width: fit-content;
 padding: 5px 9px;
 background-color: transparent;
 border: none;
 border-radius: 5px;
}
.mobile-login-btn a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    color: #fff;

}
.mobile-login-btn a svg{
    fill: #2d2f31;
}
.mobile-login-btn a svg path{
    stroke: #2d2f31;

}
.mobile-notify-wrapper{
position: relative;
}
.mobile-notify-container{
    display: none;
    position: absolute;
    right: 0px;
    margin-top: 15px;
    z-index: 1000;
}
.mobile-notify-list-container{
    list-style: none;
    padding: 1.6rem;
}
.mobile-notify-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.profile-mini-icon{
    width: 55px;
    height: 40px;
    border-radius: 50%;
    background-color: #d1d7dc;
    position: relative;
}
.message-indicator{
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: rgb(52, 241, 52);
    left: 60px;
    top: 30px;
    border-radius: 5px;
}
.mobile-notify-list-container li{
    padding-bottom: 6px;
}
.mobile-notify-list p{
    font-size: 12px;
}
.inner-mobile-notify{
    opacity: 0;
    animation: zoom-in-wrapper .1s cubic-bezier(.2,0,.38,.9) forwards;
}
.mobile-notify-content{
    width: 250px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);

}
.show{
    display: block;
}
.mobile-toggle-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}
.mobile-menu-wrapper{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    max-width: 78%;
    height: 100%;
    background: #fff;
    z-index: 1030;
    transition: transform .15s cubic-bezier(.2,0,1,.9);
    transform: translateX(0);
}
.mobile-menu-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip: rect(auto, auto, auto, auto);
    opacity: 1;
    transition: opacity .25s linear .25s;
}
.inner-mobile-container{
    height: 100%;
    overflow: auto;
    padding-bottom: 3.2rem;
}
.inner-mobile-container::-webkit-scrollbar{
    width: 5px;
}
.inner-mobile-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.inner-mobile-container::-webkit-scrollbar-thumb {
    background: #888; 
}

.inner-mobile-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.nav-mobile{
    padding: .8rem 0;
    list-style: none;
    margin: 0;
    border-bottom:1px solid #d1d7dc;
}
.nav-mobile-link{
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: auto;
    text-align: left;
    letter-spacing: normal;
    white-space: normal;
    padding: .4rem 1.6rem;
}
.black-text{
    color: #2d2f31;
}
.nav-mobile-text{
    flex: 1 1;
}
.blue-text{
    color: #2f80ed;
}
.mobile-btn-lang{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    margin-top: 20px;
    margin-bottom: 20px;
  
}
.nav-mobile-levelone-container{
    border: none;
}
.mobile-close{
    top: 0;
    left: 240px;
    border-radius: 50%;
    margin: 1.6rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
    position: absolute;
    padding: 4px;
    width: 40px;
    color: #2d2f31;
    background-color: #fff;
    height:40px;
    align-items: center;
    border: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    transform: scale(0);
}
.close-zoom{
    transform: scale(1);
    transition: transform .1s cubic-bezier(0,0,.38,.9) .4s;
}
.mobile-btn-lang button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 1.6rem;
    min-width: 6rem;
    background-color: transparent;
    border: 1px solid #2d2f31;
}
.mobile-btn-lang button svg{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.side-menu-hide{
    left: 0;
    transform: translateX(20.4rem);
}
.side-menu-show{
    transform: translateX(0);
    transition: transform .25s cubic-bezier(0,0,.38,.9);
  
}
.hidden{
    visibility: hidden;
    transition: visibility 0ms linear .15s;
}
.mobile-menu-container-leveltwo{
    z-index: 1;
    position: absolute;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
    /* transform: translateX(20.4rem); */
    top: 0;
    width: 250px;
    height: 100%;
    background: #fff;
    transition: transform .15s cubic-bezier(.2,0,1,.9);

}
.mobile-menu-container-levelthree{
    position: absolute;
    max-width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
    z-index: 1;
    /* transform: translateX(20.4rem); */
    top: 0;
    width: 250px;
    height: 100%;
    background: #fff;
    transition: transform .15s cubic-bezier(.2,0,1,.9);

}

.mobile-head{
    padding: 1.6rem 1.6rem 0;
    margin-bottom: -.4rem;
    color: #6a6f73;
    font-size: 14px;
}
.mobile-overlay{
    width: 100%;
    height: 100%;
    background: rgba(45, 47, 49, .8);
    transform: scale(0);
    opacity: 0;
    transition: opacity .1s linear, transform 0ms linear .1s;
    z-index: 1030;
    position: fixed;
    top: 0;
    left: 0;
}
.overlay-open{
    display: block;
    opacity: 1;
    transform: scale(1);
    transition: opacity .1s linear;
}
/* mega menu start */
.mega-navibar{
    position: relative;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popper-container{
    display: none;
    position: absolute;
    top:100%;
    left:0px;
    z-index: 1000;
}
.poper-animi-wrapper{
   
    opacity: 0;
    animation: zoom-in-wrapper .1s cubic-bezier(.2,0,.38,.9) forwards;
}
.poper-inner{
    position: relative;
    width: 100%;
    background: #fff;
    margin-top:.4rem;
    box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
    display: flex;
}
.popper-levels-wrapper
{
    
display: flex;
}
.nav-level{
    width: 260px;
    min-height: 640px;
    padding: .8rem 0;
    position: relative;
   
}
.nav-level-two{
    border-left: 1px solid #d1d7dc;
    width: 280px;
    display: none;
}
.nav-level-three{
    border-left: 1px solid #d1d7dc;
    display: none;

}
.popper-menu-list{
    list-style: none;
    margin: 0;
    padding: 0.8rem 0;
    max-width: 60rem;
}
.popper-link{
    padding: 6px 1.6rem;  
    color: #2d2f31;
    display: flex;
    align-items: center;
    /* width: 100%; */
    height: auto;
    text-align: left;
    justify-content: space-between;
}
.popper-link svg{
    width: 25px;
    height: 25px;
    fill: currentColor;
}
.popper-open{
    display: block;
}

.active{
    color: #2f80ed;
}
/* .popper-link:active, .popper-link:hover{
    color: #2f80ed;
} */
.menu-head{
    font-weight: 600;
    padding: .3rem 1.6rem;
    padding-bottom: 0px;
    font-size: 15px;
    margin-top: 10px;
    color: #2d2f31;
}
.placeholder{
    /* background-color: #b3b3b3;
    color: #b3b3b3 !important; */
    background-image: linear-gradient(to right,
                                      #f6f7f8 0%,
                                      #edeef1 10%,
                                      #f6f7f8  20%,
                                      #f6f7f8  100% );

    background-size: 200% 100%;
    animation: placeholder 1s linear infinite;
    margin: 8px 10px;
    color:  #f6f7f8;
}
.placeholde:hover{
    color:  #f6f7f8 !important;
}


/* header center men mininpopper */
.mini-popper-wrapper{
    position: relative;
}
.mini-popper-container{
    display: none;
    position: absolute;
    top:100%;
    right: 0px;
    z-index: 1000;

}
.mini-animi{
    opacity: 0;
    animation: zoom-in-wrapper .1s cubic-bezier(.2,0,.38,.9) forwards;
}
.mini-popper-inner{
  
    width: 100%;
    margin-top: 1.4rem;
    position: relative;
    min-width: 280px;
    background-color: #fff;
    box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
    color: #2d2f31;
    padding: 1.6rem;
    text-align: center;
}
.mini-popper-inner p{
    margin-bottom: .8rem;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
}
.mini-popper-btn{
    width: 100%;
    background-color:#2f80ed;
    color: #fff;
    padding: 6px 10px;
    display: inline-flex;
    justify-content: center;
}
.open{
    display: block;
}
@keyframes placeholder {
    0%{
        background-position: 50% 0;
    }
    100%{
        background-position: -150% 0;
    }
}
@keyframes zoom-in-wrapper {
    0% {
        opacity: 0;
        transform: scale(.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


/* top notification bar  */
.notification-content{
    display: block;
    width: 100%;
    opacity: 1;
    animation: fade 0.9s ease;
    height: 60px;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
.notification-wrapper{
   
    position: relative;
    display: flex;
    align-items: center;
    background: #5624d0;
    color: #fff;
    height: 60px;
}
.notification-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notification-container p{
    padding: 1.6rem 30px;
    font-size: 14px;
}
.notification-container p span{
    font-weight: 500;
    font-size: 18px;
}
.close-btn{
    width: 40px;
    height: 40px;
    margin: 20px;
    color: #fff;
    background: none;
    border: none;
}
.close-btn svg{
    width: 1.5rem;
    height: 1.5rem;
    
}
.close-btn svg path{
    stroke: #fff;
}
.close{
    display: none;
    opacity: 0;
}
/* main slider start */
.main-slider-container{
    position: relative;
    width: 100%;
    height: 100%;
}
.main-slider-wrapper{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    grid-gap: 1.6rem;
    scrollbar-width: none;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
}
.main-slide-item{
    scroll-snap-align: start;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
/* .main-slide-image{
  width: 100%;
  height: 100%;
  
} */
.main-slide-image picture{
    max-width: 100%;
    vertical-align: middle;
}
.main-slide-image img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    height: 25rem;
    object-position: center;
}

.main-slide-content{
    position: absolute;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
        padding: 2.4rem;
        max-width: 380px;
        left: 50px;
        top: 50px;
        display: flex;
    flex-direction: column;
    background: #fff;
}
.main-slide-content h1{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 1.2;
}
.main-slide-content p{
    font-size: 16px;
}
.main-slide-btn-container{
    margin-top: 1.6rem;
    flex: 1 1;
    display: flex;
}
.main-slide-btn-container a{
    background-color: #2f80ed;
    color: #fff;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}
.main-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em; /* Adjust as needed */
    color: #fff;   /* Adjust as needed */
    cursor: pointer;
    visibility: hidden;
    transition: visibility .5s ease;
    
}
.main-slider-container:hover .main-arrow{
    visibility: visible;
    animation: fade 0.9s ease;
}
.main-slide-left-arrow{
    left: 10px; /* Adjust distance from left edge */
    background-color: rgb(45,47,49);
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-slide-right-arrow{
    right: 10px; /* Adjust distance from right edge */
    background-color: rgb(45,47,49);
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-slide-right-arrow svg path, .main-slide-left-arrow svg path{
    stroke: #fff;
}
.slide-active{
    display: block;
    animation: fading 0.5s;
}
.slide-hidden{
    display: none;
}
@keyframes fading {
    0%{
          opacity: 0;
    }
    100%{
       opacity: 1;
       transform: opacity linear;
    }
}
/* main slider end */

/* category filter section 2 start */
.main-heading{
    margin: 30px 0px;
    padding: 10px 30px;
}
.main-heading h1{
    font-size: 30px;
    font-weight: 600;
}
.main-heading p{
  font-size: 18px;
}

.category-full-container{
    margin-top: 3.2rem;
    padding: 10px;
    width: 100%;
}
.main-category-container{
    box-shadow: inset 0 -1px 0 0 #d1d7dc;
    position: relative;
    overflow: hidden;
   
}
.category-active
{
    border-bottom: 2px solid #2d2f31;
    color: #2d2f31;
}

.main-category-wrapper{
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-gap: 1.6rem;
    /* overflow-x: hidden; */
    scrollbar-width: none;
    /* overflow: auto; */
    /* overflow-y: hidden; */
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
}
.main-category-item{
    scroll-snap-align: start;
    padding: 15px;
   
}
/* .overflow-hide{
    width: 100%;
    height: 100%;
    overflow: hidden;
} */
.main-category-item button{
    background: transparent;
    padding: .8rem .4rem;
    outline-offset: -.4rem !important;
    position: relative;
    width: 100%;
    min-width: auto;
    align-items: center;
    border: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;    
   

}
.main-category-item button span{
    font-size: 18px;
    color: #6a6f73;
    font-weight: 600;
}
.main-category-item button span:focus, .main-category-item button span:hover{
 color: #2d2f31;
}
.text-active{
    color: #2d2f31 !important;
}
.main-category-left-arrow{
 position: absolute;
 left: 0px;
 top: 50%;
 transform: translateY(-50%);
 background: linear-gradient(to left,#fff 75%,hsla(0,0%,100%,0));
 border: none;
 box-shadow: none;


}
.main-category-right-arrow{
position:absolute;
right:0px;
top: 50%;
transform: translateY(-50%);
background: linear-gradient(to left,#fff 75%,hsla(0,0%,100%,0));
border: none;
box-shadow: none;

}

/* sub category */
.sub-category-container{
    padding: 20px 10px;
    overflow: hidden;
}
.sub-category-heading{
    position: relative;
    width: 100%;
}
.sub-category-wrapper
{
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-gap:1.6rem;
    /* overflow: auto;
    overflow-y: hidden; */
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    touch-action: manipulation;
    scrollbar-width: none; 
}
.sub-category-wrapper::-webkit-scrollbar{
    display: none;
}
.hidden-input{
    display: none;
}
.sub-category-item{
    scroll-snap-align: start;
}
.sub-category-item label{
    display: inline-block;
    border: none;
    height: 4.6rem;
    padding: 1rem 1.6rem;
    border-radius: 9.6rem;
    text-align: left;
    background-color: #e4e8eb;
    color:#2d2f31;
}
.sub-category-item label span:first-child{
    margin-bottom: .1rem;
    display: block;
    font-weight: 600;
    font-size: 14px;
}
.hidden-input:checked+ .bg-change{
    background-color: #2d2f31;
    color: #fff;
}
.sub-active{
    background-color: #2d2f31 !important;
}
.text-white{
    color: #fff;
}
.sub-category-left-arrow{
 position: absolute;
 top:50%;
 transform: translateY(-50%);
 left: 0;
 background: #fff;
 padding: 5px;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 50%;
 width: 40px;
 height: 40px;
 border: none;
}
.sub-category-right-arrow{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 0;
    background: #fff;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
   
}
.sub-category-right-arrow:hover, .sub-category-left-arrow:hover{
    background-color: #f2f2f2;
    cursor: pointer;
}
/* category content list */
.sub-cat-content-container{
    margin: 20px 0px;
}
.sub-cat-content{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.sub-cat-content-wrapper{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.8rem;
    scrollbar-width: none;
    /* overflow: auto; */
    /* overflow-y: hidden; */
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    touch-action: manipulation;
}
.sub-cat-content-item{
    scroll-snap-align: start;
}
.inner-cat-content-item{
    width: 100%;
    height: 100%;
}
.cat-content-item-wrapper{
    height: 100%;
    border: 1px solid #d1d7dc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* max-width: calc(37.5rem + 2* 1px);
    min-width: calc(17.3rem + 2* 1px); */
    overflow: clip;
    position: relative;
    transition: transform 0.5s ease-in-out; /* Smooth transition */
    scroll-behavior: smooth;

}
.cat-content-image{
    /* aspect-ratio: calc(1 / .5625); */
    background-color: #2d2f31;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.cat-content-image img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    transition: opacity .1s linear;
}
.cat-content-text
{
    padding: .8rem  1.6rem;
    padding-bottom: 0px;
    background-color: #fff;
    border: 1px #d1d7dc;
    border-top-style: solid;
    color: #2d2f31;
    display: flex;
    gap: .3rem;
    /* white-space: nowrap; */
    flex-direction: column;
    flex: 1 1;
    min-width: 1px;

}
.cat-content-text span{
    font-size: 15px;
    line-height: 1.3;
    font-weight: 900 !important;
    color: #000000;
}
.cat-content-text p{
    font-size: 14px;
    font-weight: 400;
}
 .cat-prize{
    padding: 0px ;
}
.sub-category-cont-left-arrow{
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    background: rgb(45,47,49);
    width:40px;
    right:40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-category-cont-right-arrow{
    position: absolute;
    top:50%;
    right:0;
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    background: rgb(45,47,49);
    width:40px;
    height:40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-category-cont-left-arrow:hover, .sub-category-cont-right-arrow:hover{
    background: rgba(45, 47, 49, 0.909);
    cursor: pointer;
}
.tag-btn{
    border: none;
    width: fit-content;
    background-color: rgb(236,235,152);
    font-size: 14px;
    padding: 4px 6px;
   
    margin-bottom: 1.6rem;
}
/* end */
@media only screen and (max-width: 1300px) {
    .left-section{
        width: 25%;
        
    }
    .center-menu{
        width: 50%;
    }
    .right-section{
        width: 25%;
    }
}

@media only screen and (max-width: 950px) {
    .mobile-menu-icon{
        display: block;
        font-size: 30px;
    }
    .left-section{
        width: 100% !important;
        margin: 0px;
        
    }
    .center-menu{
        display:none;
    }
    .right-section{
        display:none;
    }
    /* .popper-container{
        display: none;
    } */
    .mega-navibar{
        display: none;
    }
    .mini-popper-container{
        display: none;
    }
    .notification-container p {
        font-size: 12px !important;
        text-align: center;
    }
    .notification-container p span{
        font-size: 12px !important;
    }

    /* main slider responsive */
    .main-slide-content {
        position: unset !important;
        max-width: 100%;
    }
    .main-slide-image img{
        height: 17rem;
    }
    .main-slide-content h1 {
        font-size: 22px;
    }
    .main-arrow {
        top: 30%;
    }
    .main-slide-left-arrow  {
        left: 5px;
    }
    .main-slide-right-arrow{
        right: 5px;
    }
}
@media only screen and (min-width: 1200px) {
    .sub-cat-content-wrapper {
        grid-auto-columns: calc((100% - (4 - 1) * 1.6rem) / 4);
    }
}

@media only screen and (min-width: 980px) and (max-width: 1199px){
    .sub-cat-content-wrapper {
        grid-auto-columns: calc((100% - (3 - 1) * 1.6rem) / 3)  ;
    }
}

@media  screen and (min-width: 546px) and (max-width: 979px) {
    .sub-cat-content-wrapper {
        grid-auto-columns: calc((100% - (2 - 1) * 1.6rem) / 2)  ;
    }
}
@media  screen and (max-width: 545px) {
    .sub-cat-content-wrapper {
        grid-auto-columns: 100% !important;
        grid-gap: 0px !important;
        margin: 0px;
    }
}
@media  screen and (max-width: 768px) {
    .sub-category-wrapper
    {
        display: grid;
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        grid-gap:1.6rem;
        overflow: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        touch-action: manipulation;
        scrollbar-width: none; 
    }
    /* .main-category-left-arrow, .main-category-right-arrow{
        display: none;
    } */
    .sub-category-left-arrow , .sub-category-right-arrow{
        display: none !important;

    }
}
